*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background-color: black;
}
.container {
  padding: 0.5rem;
}
canvas {
  border:4px solid rgb(0, 62, 78);
  display: block;
  margin: auto;
}
h3{
  padding: 0.8rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}

.explain-key {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #ffffff;
  list-style: none;

}

.explain-key li {
  padding: 0 1rem;
}

#music-switch {
  opacity: 0.5;
  padding: 0.5rem;
  background-color: rgba(134, 210, 230);
  border-radius: 1rem;
  border: none;
}